body{
    background-color: antiquewhite;
}
#button1 {
    position: fixed;
    right: 0%;
}
#button2 {
    position: fixed;
    right: 4%;
}
#button3 {
    position: fixed;
    right: 9.2%
}
#button4 {
    position: fixed;
    right: 16.6%
}
#button5 {
    position: fixed;
    right: 19.65%;
}
#button6 {
    position: fixed;
    right: 80%;
}
#button7 {
    position: fixed;
    right: 48%;
}
#button8 {
    position: fixed;
    right: 20%;
}
#title {
    position: fixed;
    right:45%;
    text-align: center;
    font-style: bold;
    color: black;
    font-size: 25px;
}
.ama {
    width: 200px;
    height: 200px;
    float: left;
}
.eme {
    width: 200px;
    height: 200px;
    float: right;
}